<launch>
  <!-- Arguments -->
  <arg name="front_port" default="/dev/atrv_front_wheels" />
  <arg name="rear_port" default="/dev/atrv_rear_wheels" />


  <!-- Start the node that interfaces with the motor controllers -->
  <node pkg="gavlab_atrv_node" type="gavlab_atrv_node" name="atrv_node"
        output="screen" required="true">
    <param name="front_port" value="$(arg front_port)" />
    <param name="rear_port" value="$(arg rear_port)" />
  </node>



  <!-- Start the laser range finder -->
  <include file="$(find gavlab_atrv_launch)/launch/sick.xml"/>

  <!-- Start the static transformations -->
  <include file="$(find gavlab_atrv_launch)/launch/transforms.xml"/>

  <node pkg="gavlab_atrv_2dnav" type="odom_to_tf.py" name="odom_to_tf"/>

  <!--camera transform -->
  <node pkg="camera_pose_rviz" type="camera_tf_publisher" name="camera_tf_publisher"/>


  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find amcl)/maps/hallway_map.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find amcl)/navigation_configs2/small_loop_crazy_driving_prg_corrected.xml" />


  <!-- Start the joy stick interface node -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen" 
        required="true">
    <param name="autorepeat_rate" value="5" type="double" />
  </node>

  <!-- Start the node that converts joy messages to cmd_vel's -->
  <!-- <node pkg="joy_to_twist" type="joy_to_twist.py" name="atrv_joy_to_twist"
        output="screen" required="true">
    <param name="max_linear_vel" type="double" value="1.5" />
    <param name="max_angular_vel" type="double" value="1.5" />
    <remap from="cmd_vel" to="atrv_node/cmd_vel" />
  </node> -->

  <node pkg="joy_to_twist" type="Michael_Joy2Twist.py" name="atrv_joy_to_twist"
        output="screen" required="true">
    <param name="max_linear_vel" type="double" value="0.5" />
    <param name="max_angular_vel" type="double" value="0.5" />
    <param name="tolerance" type="double" value="0.25" />
    <remap from="cmd_vel" to="atrv_node/cmd_vel" />
  </node>

  <!-- Start the node that opens rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" output="screen" args="-d $(find amcl)/localization.rviz" />
  
</launch>
