<launch>
    <!-- Start the static transformations -->
    <include file="$(find gavlab_atrv_launch)/launch/transforms.xml"/>
    
    <!-- Start the node that interfaces with the motor controllers -->
    <node pkg="gavlab_atrv_node" type="atrv_node" name="atrv_node"
          output="screen" required="true">
        <param name="front_port" value="/dev/atrv_front_wheels" />
        <param name="rear_port" value="/dev/atrv_rear_wheels" />
    </node>
</launch>