<launch>
  <include file="$(find gavlab_atrv_2dnav)/launch/move_base.launch"/>

  <!-- Arguments -->
  <arg name="front_port" default="/dev/atrv_front_wheels_usb" />
  <arg name="rear_port" default="/dev/atrv_rear_wheels_usb" />
  <!-- Start the node that interfaces with the motor controllers -->
  <node pkg="gavlab_atrv_node" type="gavlab_atrv_node" name="atrv_node"
        output="screen" required="true">
    <param name="front_port" value="$(arg front_port)" />
    <param name="rear_port" value="$(arg rear_port)" />
  </node>

  <!-- Start the laser range finder -->
  <include file="$(find gavlab_atrv_launch)/launch/sick.xml"/>

  <!-- Start the static transformations -->
  <include file="$(find gavlab_atrv_launch)/launch/transforms.xml"/>

  <node pkg="gavlab_atrv_2dnav" type="odom_to_tf.py" name="odom_to_tf"/>
  
  <!-- Start the node that runs slam -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="scan_filtered"/>
        <param name="delta" value="0.025"/>
        <param name="xmin" value="-10"/>
        <param name="xmax" value="10"/>
        <param name="ymin" value="-10"/>
        <param name="ymax" value="10"/>
        <param name="temporalUpdate" value="0.1"/>
    </node>

  <!-- launch octomap -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.05" />
    <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
    <param name="frame_id" type="string" value="map" />
    <!-- maximum range to integrate (speedup!) -->
    <param name="max_sensor_range" value="5.0" />
    <param name="latch" value="false" />
    <param name="pointcloud_min_z" value=".2" />
    <param name="pointcloud_max_z" value="2.0" />
    <!-- data source to integrate (PointCloud2) -->
    <!-- <remap from="cloud_in" to="/asus/depth_registered/points" /> -->
    <remap from="cloud_in" to="/asus/map_synced_points" />


  </node>

  <!-- Start the node that opens rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" output="screen" args="-d $(find gavlab_atrv_launch)/rviz/3Dmap.rviz" />
</launch>
