<launch>
  <!-- Start the joy stick interface node -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen" 
        required="true" />

  <!-- Start the node that converts joy messages to cmd_vel's -->
  <node pkg="joy_to_twist" type="joy_to_twist.py" name="atrv_joy_to_twist"
        output="screen" required="true">
    <param name="max_linear_vel" type="double" value="1.0" />
    <param name="max_angular_vel" type="double" value="0.2" />
  </node>
</launch>